rich
torchtext
hydra-core
omegaconf
#wandb
einops
#cmake # For pykeops support
numpy
torch
ipykernel
#sentencepiece
tiktoken
#git+https://github.com/huggingface/transformers@v4.31-release
tqdm
pytz
pandas
beartype
urllib3==1.26.16
boto3
protobuf
matplotlib
#matplotlib-venn
#scipy
func_timeout
fuckit
#bitsandbytes
accelerate
datasets
#peft
scikit-learn
#evaluate
trl
pre-commit
#tensorboard
torchinfo
prettytable
